/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background-image: url(../public/assets/fuzzy3.webp);
    background-size: contain;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header-container {
    background-image: url('../public/assets/grid3.webp');
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
    text-align: center;
}

.header-img {
    object-fit: cover;
    height: 600px;
    min-width: 100%;
}

.header-text-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
}

.header-text-container h1 {
    font-family: 'Venus Rising';
    font-size: 3rem;
    color: rgb(229, 225, 230);
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    position: relative;
}

.header-text-container h2 {
    font-family: 'JetBrains Mono';
    font-size: 2rem;
    color: rgb(229, 225, 230);
    animation: glow 1s ease-in-out infinite alternate;

}

.socials {
    gap: 50px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20%;
    width: 100%;
}

.social-icon {
    color: rgb(229, 225, 230);
    font-size: 3rem;
    cursor: pointer;
    transition: transform .5s ease;
}

.social-icon:hover {
    transform: scale(1.2);
    box-shadow: 0 0 30px 3px #e60073;
}

.social-container {
    color: rgb(229, 225, 230);
    font-family: 'JetBrains Mono';
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.launch {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 65%;
    left: 10%;
}

.init {
    color: rgb(229, 225, 230);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    scroll-behavior: smooth;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-shadow: rgba(255, 215, 77, 0.6) -1px -1px 6px, rgba(124, 127, 255, 0.6) 1px 1px 6px;
    overflow-wrap: break-word;
    font-family: "JetBrains Mono", monospace;
    font-variant-ligatures: none;
    margin: 0px;
    animation: blink 1s linear infinite;
}

p {
    color: rgb(229, 225, 230);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    scroll-behavior: smooth;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-shadow: rgba(255, 215, 77, 0.6) -1px -1px 6px, rgba(124, 127, 255, 0.6) 1px 1px 6px;
    overflow-wrap: break-word;
    font-family: "JetBrains Mono", monospace;
    font-variant-ligatures: none;
    margin: 0px;

}

.separator-left {
    display: flex;
    gap: 4px;
    height: 4px;
    left: 9.65%;
    bottom: 30.83%;
    position: absolute;
    width: 40%;
    background-color: rgb(229, 225, 230);
}

.separator-angle {
    background-color: rgb(229, 225, 230);
    width: 2%;
    height: 4px;
    transform: rotate(-45deg);
    position: absolute;
    left: 49.3%;
    bottom: 32.1%;
}

.separator-right {
    display: flex;
    gap: 4px;
    height: 4px;
    right: 9.1%;
    bottom: 33.4%;
    position: absolute;
    width: 40%;
    background-color: rgb(229, 225, 230);
}

.separator-left-2 {
    display: flex;
    gap: 4px;
    height: 4px;
    left: 9.65%;
    bottom: -46.8%;
    position: absolute;
    width: 40%;
    background-color: rgb(229, 225, 230);
}

.separator-angle-2 {
    background-color: rgb(229, 225, 230);
    width: 2%;
    height: 4px;
    transform: rotate(45deg);
    position: absolute;
    left: 49.3%;
    bottom: -48.2%;
}

.separator-right-2 {
    display: flex;
    gap: 4px;
    height: 4px;
    right: 9.1%;
    bottom: -49.4%;
    position: absolute;
    width: 40%;
    background-color: rgb(229, 225, 230);
}

.about-section-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 700px;
    color: rgb(229, 225, 230);
    ;
    padding-top: 100px;
}

.about-text-container {
    max-width: 1000px;
    padding: 15px;
    text-align: center;
    width: 100%;

}

.about-h1 {
    transform: scale(1.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    font-size: 3rem;
    color: rgb(229, 225, 230);
    ;
    transform: translate(-50%, -50%);
    font-family: 'Venus Rising';
}

.about-h1 span {
    opacity: 0;
    filter: blur(4px);
}

.about-h1 span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.about-txt {
    font-size: 1.3rem;
    font-family: 'JetBrains Mono';
    color: rgb(229, 225, 230);
    line-height: 3.5rem;
}


strong {
    color: #73CDE5;
    font-weight: bold;
}

.aj {
    height: 500px;
    width: 500px;
}

.repeater-wrapper {
    max-width: 1312px;
    padding: 0px 64px;
    height: 24px;
    margin: 64px auto;
    background: url('../public/assets/repeater.svg')
}

.portfolio-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 700px;
    color: rgb(229, 225, 230);
}

.my-portfolio {
    font-family: 'Venus Rising';
    font-size: 3rem;
    color: rgb(229, 225, 230);
    text-align: center;
    margin: 200px 0;
    transition: transform 0.5s, opacity 0.5s;
}

.proj-container {
    height: 250px;
    width: 500px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: transform .5s ease;
    cursor: pointer;
}

.proj-container:hover {
    transform: scale(1.1);
}

.proj-txt {
    position: relative;
    width: 40vh;
    height: 39vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(229, 225, 230);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    opacity: 0;
    transition: opacity 0.25s;
    font-size: 2.5rem;
}

.skills-h1 {
    font-family: 'Venus Rising';
    font-size: 3rem;
    color: rgb(229, 225, 230);
    text-align: center;
    margin: 90px 0;
}

.boot-container {
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}

.skill {
    display: none;
}

.skills-inner-container:hover+.skill-text-div {
    display: block;
}

.skills-dialog {
    color: rgb(229, 225, 230);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    scroll-behavior: smooth;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-shadow: rgba(255, 215, 77, 0.6) -1px -1px 6px, rgba(124, 127, 255, 0.6) 1px 1px 6px;
    overflow-wrap: break-word;
    font-family: "JetBrains Mono", monospace;
    font-variant-ligatures: none;
    margin: 0px;
}

.skills-arrow {
    color: rgb(229, 225, 230);
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    scroll-behavior: smooth;
    font-size: 26px;
    font-weight: 400;
    line-height: 24px;
    text-shadow: rgba(255, 215, 77, 0.6) -1px -1px 6px, rgba(124, 127, 255, 0.6) 1px 1px 6px;
    overflow-wrap: break-word;
    font-family: "JetBrains Mono", monospace;
    font-variant-ligatures: none;
    margin: 0px;
    animation: blink 1s linear infinite;
}


.skills-container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.skills-inner-container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: center;

}

.skill-text-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 95px;
    width: 300px;
    border-radius: 1%;
    border: 1px solid rgb(229, 225, 230);
    transition: all .5s ease;
    opacity: 0;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 10px -5px #00000050;
}

.skill-text-div h3 {
    color: rgb(229, 225, 230);
    ;
    animation: glow 1s ease-in-out infinite alternate;
    font-size: 1.1rem;
    font-family: 'Venus Rising';
}

.skill-text-div span {
    color: rgb(229, 225, 230);
    font-family: 'JetBrains Mono';
    font-size: 0.85rem;
}

.skill-img-div {
    height: 100px;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.skill-img-div:hover .skill-text-div {
    opacity: 1;
}

.skill-img {
    height: 100px;
    width: 100px;
    transition: transform .5s ease;
}

.skill-img:hover {
    transform: scale(1.2);
}

.get-in-touch {
    color: rgb(229, 225, 230);
    font-size: 3rem;
    font-family: 'Venus Rising';
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: url('../public/assets/grid2.png');
    background-size: cover;
}

.contact-text {
    color: rgb(229, 225, 230);
    font-size: 1.2rem;
    font-family: 'JetBrains Mono';
    width: 100%;
    max-width: 1200px;
    line-height: 3rem;
    text-align: center;
    margin: 50px 0;
}

.contact-form {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.input-div {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
    max-width: 50%;
}

.input-input {
    width: 100%;
    border: none;
    border-bottom: 2px solid darkgray;
    outline: 0;
    font-size: 1rem;
    color: rgb(229, 225, 230);
    ;
    background: transparent;
    transition: border-color 0.2s;
    padding-top: 15px;
}

.input-input::placeholder {
    color: transparent;
}

.input-input::placeholder-shown~.input-input {
    font-size: 2rem;
    cursor: text;
    top: 20px;
}

.label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 2rem;
    color: rgb(229, 225, 230);
    ;
    pointer-events: none;
}

.label:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.label:focus~.label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

.label:required,
.label:invalid {
    box-shadow: none;
}

button {
    margin-top: 20px;
    font-size: 18px;
    color: rgb(229, 225, 230);
    ;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    animation: blink 1s linear infinite;
}


button:focus,
button:hover {
    color: #fff;
    animation: none;
}

button:focus:after,
button:hover:after {
    width: 100%;
    left: 0%;
}

button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.animated {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0)
    }
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@media only screen and (max-width: 1920px) {
    .separator-left-2 {
        display: flex;
        gap: 4px;
        height: 4px;
        left: 9.65%;
        bottom: -30.8%;
        position: absolute;
        width: 40%;
        background-color: rgb(229, 225, 230);
    }

    .separator-angle-2 {
        background-color: rgb(229, 225, 230);
        width: 2%;
        height: 4px;
        transform: rotate(45deg);
        position: absolute;
        left: 49.3%;
        bottom: -32.2%;
    }

    .separator-right-2 {
        display: flex;
        gap: 4px;
        height: 4px;
        right: 9.1%;
        bottom: -33.4%;
        position: absolute;
        width: 40%;
        background-color: rgb(229, 225, 230);
    }
}

@media only screen and (min-width: 1023px) and (max-width: 1024px) {
    .header-container {
        height: 400px;
    }

    .header-img {
        height: 400px;
    }

    .header-text-container h1 {
        font-size: 2rem;
    }

    .header-text-container h2 {
        font-size: 2rem;
    }

    .socials {
        bottom: 10%;
    }

    .social-icon {
        cursor: pointer;
    }

    .social-txt {
        font-size: 0.8rem;
    }

    .launch {
        top: 29%;
    }

    .separator-left {
        left: 9.65%;
        top: 30.83%;
    }

    .separator-angle {
        left: 49.2%;
        top: 30.3%;
    }

    .separator-right {
        right: 9.2%;
        top: 29.8%;
    }

    .separator-left-2 {
        left: 9.65%;
        top: 64.8%;
    }

    .separator-angle-2 {
        left: 49.2%;
        top: 65.2%;
    }

    .separator-right-2 {
        right: 9.2%;
        top: 65.7%;
    }

    .aj {
        height: 300px;
        width: 300px;
    }

    .about-section-container {
        height: 400px;
        padding-top: 50px;
    }

    .about-text-container {
        max-width: 800px;
        padding: 15px;
        text-align: center;
        width: 100%;
    }

    .about-h1 {
        font-size: 2rem;
    }

    .about-txt {
        font-size: 0.75rem;
    }

    .portfolio-section-container {
        height: 400px;
    }

    .my-portfolio {
        font-size: 2rem;
        margin: 100px 0;
    }

    .proj-container {
        height: 150px;
        width: 300px;
    }

    .skills-h1 {
        font-size: 2rem;
    }

    .skills-container {
        height: 600px;
    }

    .skills-inner-container {
        width: 300px;
    }

    .skill-text-div {
        bottom: -90%;
    }

    .skill-text-div h3 {
        font-size: 1rem;
    }

    .skill-text-div span {
        font-size: 0.80rem;
    }

    .skill-img-div {
        height: 80px;
        width: 80px;
    }

    .skill-img {
        height: 80px;
        width: 80px;
    }

    .get-in-touch {
        font-size: 2rem;
        margin: 5% 0;
    }

    .form {
        display: block;
    }


    .contact-text {
        font-size: 1rem;
    }

    .contact-form {
        width: 100%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 768px) {
    .header-container {
        height: 250px;
        display: flex;
        flex-wrap: wrap;
    }

    .header-text-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 200px;
        text-align: center;
    }

    .header-img {
        height: 250px;
        display: block;
    }

    .header-text-container h1 {
        font-size: 1.75rem;
    }

    .header-text-container h2 {
        font-size: 1.2rem;
    }

    .socials {
        bottom: 5%;
        gap: 20px;
    }

    .social-icon {
        font-size: 2rem;
    }

    .social-txt {
        font-size: 0.6rem;
    }

    .launch {
        top: 29%;
    }
    .init {
        font-size: 0.75rem;
    }

    .separator-left {
        left: 9.65%;
        top: 32.1%;
    }

    .separator-angle {
        left: 49.2%;
        top: 31.6%;
    }

    .separator-right {
        right: 9.2%;
        top: 31.2%;
    }

    .separator-left-2 {
        left: 9.65%;
        top: 64.6%;
    }

    .separator-angle-2 {
        left: 49.2%;
        top: 65.1%;
    }

    .separator-right-2 {
        right: 9.2%;
        top: 65.6%;
    }

    .aj {
        height: 250px;
        width: 250px;
    }

    .about-section-container {
        height: 400px;
        padding-top: 20px;
    }

    .about-text-container {
        max-width: 800px;
        padding: 15px;
        text-align: center;
        width: 100%;
    }

    .about-h1 {
        font-size: 2rem;
    }

    .about-txt {
        font-size: 0.75rem;
        line-height: 1.5rem;
    }

    .portfolio-section-container {
        height: 400px;
    }

    .my-portfolio {
        font-size: 2rem;
        margin: 100px 0;
    }

    .proj-container {
        height: 100px;
        width: 200px;
    }

    .skills-h1 {
        font-size: 2rem;
    }

    .skills-container {
        height: 600px;
    }

    .skills-inner-container {
        width: 300px;
    }

    .skill-text-div {
        bottom: -90%;
    }

    .skill-text-div h3 {
        font-size: 1rem;
    }

    .skill-text-div span {
        font-size: 0.80rem;
    }

    .skill-img-div {
        height: 80px;
        width: 80px;
    }

    .skill-img {
        height: 80px;
        width: 80px;
    }

    .get-in-touch {
        font-size: 2rem;
        margin: 5% 0;
    }

    .form {
        display: block;
    }


    .contact-text {
        font-size: 0.85rem;
    }

    .contact-form {
        width: 100%;
    }
}

@media only screen and (min-width: 427px) and (max-width: 428px) {
    .header-container {
        height: 250px;
        display: flex;
        flex-wrap: wrap;
    }

    .header-text-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 200px;
        text-align: center;
    }

    .header-img {
        height: 250px;
        display: block;
    }

    .header-text-container h1 {
        font-size: 1.75rem;
    }

    .header-text-container h2 {
        font-size: 1.2rem;
    }

    .socials {
        bottom: 5%;
        gap: 20px;
    }

    .social-icon {
        font-size: 2rem;
    }

    .social-txt {
        font-size: 0.6rem;
    }

    .launch {
        top: 29%;
    }
    .init {
        font-size: 0.75rem;
    }

    .separator-left {
        left: 9.65%;
        top: 31.83%;
    }

    .separator-angle {
        left: 49.2%;
        top: 31.6%;
    }

    .separator-right {
        right: 9.2%;
        top: 31.2%;
    }

    .separator-left-2 {
        left: 9.65%;
        top: 69.8%;
    }

    .separator-angle-2 {
        left: 49.2%;
        top: 70.1%;
    }

    .separator-right-2 {
        right: 9.2%;
        top: 70.3%;
    }

    .aj {
        display: none;
    }

    .about-section-container {
        height: 200px;
    }

    .about-text-container {
        max-width: 800px;
        padding: 15px;
        text-align: center;
        width: 100%;
        height: 350px;
       
    }

    .about-h1 {
        font-size: 2rem;
        padding-top: 10%;
    }

    .about-txt {
        font-size: 0.75rem;
        line-height: 1.5rem;
    }

    .portfolio-section-container {
        height: 1000px;
        display: flex;
        flex-direction: column;
      justify-content: space-between;
    }

    .my-portfolio {
        font-size: 2rem;
       display: flex;
       justify-content: center;
        margin: 100px;
        padding-top: 10%;
    }

    .proj-container {
        height: 150px;
        width: 300px;
    }

    .skills-h1 {
        font-size: 2rem;
    }
    .skills-dialog {
       font-size: 0.85rem;
     }

    .skills-container {
        height: 500px;
  }

  .skills-inner-container {
        width: 100px;
    }

    .skill-text-div {
        top: -50%;
        height: 50px;
        width: 100px;
    }

    .skill-text-div h3 {
        font-size: 0.5rem;
    }

    .skill-text-div span {
      display: none;
    }

    .skill-img-div {
        height: 80px;
        width: 80px;
      
    }

    .skill-img {
        height: 80px;
        width: 80px;
    }

    .get-in-touch {
        font-size: 2rem;
        margin: 5% 0;
    }

    .form {
        display: block;
    }


    .contact-text {
        font-size: 0.85rem;
    }

    .contact-form {
        width: 100%;
    }
}

@media only screen and (min-width: 413px) and (max-width: 414px) {
    .header-container {
        height: 250px;
        display: flex;
        flex-wrap: wrap;
    }

    .header-text-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 200px;
        text-align: center;
    }

    .header-img {
        height: 250px;
        display: block;
    }

    .header-text-container h1 {
        font-size: 1.75rem;
    }

    .header-text-container h2 {
        font-size: 1.2rem;
    }

    .socials {
        bottom: 5%;
        gap: 20px;
    }

    .social-icon {
        font-size: 2rem;
    }

    .social-txt {
        font-size: 0.6rem;
    }

    .launch {
        top: 29%;
    }
    .init {
        font-size: 0.75rem;
    }

    .separator-left {
        left: 9.65%;
        top: 31.83%;
    }

    .separator-angle {
        left: 49.2%;
        top: 31.6%;
    }

    .separator-right {
        right: 9.2%;
        top: 31.2%;
    }

    .separator-left-2 {
        left: 9.65%;
        top: 69.8%;
    }

    .separator-angle-2 {
        left: 49.2%;
        top: 70.1%;
    }

    .separator-right-2 {
        right: 9.2%;
        top: 70.3%;
    }

    .aj {
        display: none;
    }

    .about-section-container {
        height: 200px;
    }

    .about-text-container {
        max-width: 800px;
        padding: 15px;
        text-align: center;
        width: 100%;
        height: 350px;
       
    }

    .about-h1 {
        font-size: 2rem;
        padding-top: 10%;
    }

    .about-txt {
        font-size: 0.75rem;
        line-height: 1.5rem;
    }

    .portfolio-section-container {
        height: 1000px;
        display: flex;
        flex-direction: column;
      justify-content: space-between;
    }

    .my-portfolio {
        font-size: 2rem;
       display: flex;
       justify-content: center;
        margin: 100px;
        padding-top: 10%;
    }

    .proj-container {
        height: 150px;
        width: 300px;
    }

    .skills-h1 {
        font-size: 2rem;
    }
    .skills-dialog {
       font-size: 0.85rem;
     }

    .skills-container {
        height: 500px;
  }

  .skills-inner-container {
        width: 100px;
    }

    .skill-text-div {
        top: -50%;
        height: 50px;
        width: 100px;
    }

    .skill-text-div h3 {
        font-size: 0.5rem;
    }

    .skill-text-div span {
      display: none;
    }

    .skill-img-div {
        height: 80px;
        width: 80px;
      
    }

    .skill-img {
        height: 80px;
        width: 80px;
    }

    .get-in-touch {
        font-size: 2rem;
        margin: 5% 0;
    }

    .form {
        display: block;
    }


    .contact-text {
        font-size: 0.85rem;
    }

    .contact-form {
        width: 100%;
    }
}

@media only screen and (min-width: 389px) and (max-width: 390px) {
    .header-container {
        height: 250px;
        display: flex;
        flex-wrap: wrap;
    }

    .header-text-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 200px;
        text-align: center;
    }

    .header-img {
        height: 250px;
        display: block;
    }

    .header-text-container h1 {
        font-size: 1.5rem;
    }

    .header-text-container h2 {
        font-size: 1.2rem;
    }

    .socials {
        bottom: 5%;
        gap: 20px;
    }

    .social-icon {
        font-size: 2rem;
    }

    .social-txt {
        font-size: 0.6rem;
    }

    .launch {
        top: 30%;
    }
    .init {
        font-size: 0.75rem;
    }

    .separator-left {
        left: 9.65%;
        top: 32.83%;
    }

    .separator-angle {
        left: 49.2%;
        top: 32.6%;
    }

    .separator-right {
        right: 9.2%;
        top: 32.2%;
    }

    .separator-left-2 {
        left: 9.65%;
        top: 75.8%;
    }

    .separator-angle-2 {
        left: 49.2%;
        top: 76.1%;
    }

    .separator-right-2 {
        right: 9.2%;
        top: 76.3%;
    }

    .aj {
        display: none;
    }

    .about-section-container {
        height: 200px;
    }

    .about-text-container {
        max-width: 800px;
        padding: 15px;
        text-align: center;
        width: 100%;
        height: 350px;
       
    }

    .about-h1 {
        font-size: 2rem;
        padding-top: 10%;
    }

    .about-txt {
        font-size: 0.75rem;
        line-height: 1.5rem;
    }

    .portfolio-section-container {
        height: 1000px;
        display: flex;
        flex-direction: column;
      justify-content: space-between;
    }

    .my-portfolio {
        font-size: 2rem;
       display: flex;
       justify-content: center;
        margin: 100px;
        padding-top: 10%;
    }

    .proj-container {
        height: 150px;
        width: 300px;
    }

    .skills-h1 {
        font-size: 2rem;
    }
    .skills-dialog {
       font-size: 0.85rem;
     }

    .skills-container {
        height: 500px;
  }

  .skills-inner-container {
        width: 100px;
    }

    .skill-text-div {
        top: -50%;
        height: 50px;
        width: 100px;
    }

    .skill-text-div h3 {
        font-size: 0.5rem;
    }

    .skill-text-div span {
      display: none;
    }

    .skill-img-div {
        height: 80px;
        width: 80px;
      
    }

    .skill-img {
        height: 80px;
        width: 80px;
    }

    .get-in-touch {
        font-size: 2rem;
        margin: 5% 0;
    }

    .form {
        display: block;
    }


    .contact-text {
        font-size: 1rem;
       max-width: 500px;
       line-height: 2rem;
     
     }

    .contact-form {
        width: 100%;
    }
}

@media only screen and (min-width: 374px) and (max-width: 375px) {
    .header-container {
        height: 250px;
        display: flex;
        flex-wrap: wrap;
    }

    .header-text-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 200px;
        text-align: center;
    }

    .header-img {
        height: 250px;
        display: block;
    }

    .header-text-container h1 {
        font-size: 1.5rem;
    }

    .header-text-container h2 {
        font-size: 1.2rem;
    }

    .socials {
        bottom: 5%;
        gap: 20px;
    }

    .social-icon {
        font-size: 2rem;
    }

    .social-txt {
        font-size: 0.6rem;
    }

    .launch {
        top: 37%;
    }
    .launch p {
        font-size: 0.65rem;
    }
    .init {
        font-size: 0.65rem;
    }

    .separator-left {
        left: 9.8%;
        top: 39.83%;
    }

    .separator-angle {
        left: 49.2%;
        top: 39.6%;
    }

    .separator-right {
        right: 9.%;
        top: 39.2%;
    }

    .separator-left-2 {
        left: 9.65%;
        bottom: 2%;
    }

    .separator-angle-2 {
        left: 49.1%;
        bottom: 1.7%;
    }

    .separator-right-2 {
        right: 9.3%;
        bottom: 1.3%;
    }

    .aj {
        display: none;
    }

    .about-section-container {
        height: 200px;
    }

    .about-text-container {
        max-width: 800px;
        padding: 15px;
        text-align: center;
        width: 100%;
        height: 350px;
       
    }

    .about-h1 {
        font-size: 1.5rem;
        padding-top: 10%;
    }

    .about-txt {
        font-size: 0.75rem;
        line-height: 1.5rem;
    }

    .portfolio-section-container {
        height: 1000px;
        display: flex;
        flex-direction: column;
      justify-content: space-between;
    }

    .my-portfolio {
        font-size: 2rem;
       display: flex;
       justify-content: center;
        margin: 100px;
        padding-top: 10%;
    }

    .proj-container {
        height: 150px;
        width: 300px;
    }

    .skills-h1 {
        font-size: 2rem;
    }
    .skills-dialog {
       font-size: 0.85rem;
     }

    .skills-container {
        height: 500px;
  }

  .skills-inner-container {
        width: 100px;
    }

    .skill-text-div {
        top: -50%;
        height: 50px;
        width: 100px;
    }

    .skill-text-div h3 {
        font-size: 0.5rem;
    }

    .skill-text-div span {
      display: none;
    }

    .skill-img-div {
        height: 80px;
        width: 80px;
      
    }

    .skill-img {
        height: 80px;
        width: 80px;
    }

    .get-in-touch {
        font-size: 2rem;
        margin: 5% 0;
    }

    .form {
        display: block;
    }


    .contact-text {
        font-size: 1rem;
       max-width: 500px;
       line-height: 2rem;
     
     }

    .contact-form {
        width: 100%;
    }
}